let mapleader=" "

set argtextobj
set commentary
set mini-ai
set surround
set which-key
set highlightedyank
set incsearch

map <leader>li <Action>(ShowErrorDescription)
map <leader>e :NERDTree<CR>

nnoremap <C-u> <C-u>zz
nnoremap <C-d> <C-d>zz
set scrolloff=10
set matchit
